---
title: Notes Site
description: A notes site
layout: layouts/base.liquid
---

<h1 class="text-center">Welcome to my notes management site!</h1>

{% for note in collections.notes %}
    {% include "components/post-card.liquid" %}
{% endfor %}